@import url('https://fonts.googleapis.com/css2?family=Marvel:wght@700&family=Montserrat:wght@400;700;800&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Montserrat';
    box-sizing: border-box;
}

:root {
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-700: 700;
}


[data-animation] {
    opacity: 0;
    transition: all 400ms ease-in !important;
}

[data-animation-top] {
    -webkit-transform: translateY(20px) scaleY(1.2) !important;
    -ms-transform: translateY(20px) scaleY(1.2) !important;
    transform: translateY(20px) scaleY(1.2) !important;
    opacity: 0;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    -o-transition-property: transform, opacity;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
}

[data-delay-1] {
    transition-delay: 200ms !important;
}

[data-delay-2] {
    transition-delay: 400ms !important;
}

[data-delay-3] {
    transition-delay: 600ms !important;
}

[data-delay-4] {
    transition-delay: 800ms !important;
}

[data-delay-5] {
    transition-delay: 1000ms !important;
}

[data-animation="down"] {
    transform: translate3d(0, 20px, 0);
}

[data-animation="left"] {
    transform: translate3d(-20px, 0, 0);
}

[data-animation="right"] {
    transform: translate3d(20px, 0, 0);
}

[data-animation].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate(0) scaleY(1) !important;
    -ms-transform: translate(0) scaleY(1) !important;
    transform: translate(0) scaleY(1) !important;
}

.whats_right {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 999;
}

.whats_right img {
    width: 60px;
    border-radius: 100px;
}

.area_menu_drop {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 220px;
}

.area_menu_drop_int {
    display: -webkit-flex;
    align-items: center;
    gap: 5px;
    padding: 20px 0px;
    cursor: pointer;
}

.area_menu_drop_int svg {
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.area_menu_drop li {
    font-family: 'Marvel';
    font-weight: var(--font-weight-700);
    font-size: 19px;
    color: #FFFFFF;
    letter-spacing: 0.25px;
    transition: all ease 0.3s;
    text-transform: uppercase;
    cursor: pointer;
}

.menu_drop_down a li {
    font-family: 'Marvel';
    font-weight: var(--font-weight-700);
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0.25px;
    transition: all ease 0.3s;
    text-transform: none;
    text-align: left;
}

.menu_drop_down a li:hover {
    color: #fff;
}

.area_menu_drop:hover>.menu_drop_down {
    opacity: 1;
    max-height: max-content;
    transform: translateX(0%) rotateX(0deg);
    transition-timing-function: ease-out;
}

.menu_drop_down {
    display: flex;
    position: absolute;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    max-height: 0%;
    transform: translateX(0%) rotateX(-90deg);
    transform-origin: top center;
    top: calc(100% - 10px);
    background-color: #405261;
    padding: 15px 15px;
    width: 100%;
    border-radius: 5px;
    transition: all ease-in 0.3s;
}

.menu_drop_down a {
    max-width: max-content;
}

.menu_drop_down ul {
    justify-content: flex-start;
}

.menu_drop_down a ul li:hover {
    color: #00accd;
}

body {
    margin: 0px;
    padding: 0px;
}

.menu_mobile {
    display: none;
}

.menu_mobile_open {
    display: none;
}

.menu_mobile_close {
    display: none;
}

header {
    height: 120px;
    background-color: #1a3c6c;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 999;
}

.container_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

.container_menu_int {
    display: flex;
    width: 100%;
    max-width: 1280px;
}

.area_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.area_logo {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 25px;
}

.area_logo img {
    max-width: 250px;
}

a {
    text-decoration: none;
}

nav {
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    list-style: none;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

nav ul li {
    font-family: 'Marvel';
    font-weight: var(--font-weight-700);
    font-size: 19px;
    color: #FFFFFF;
    letter-spacing: 0.25px;
    transition: all ease 0.3s;
}

nav ul li:hover {
    color: #20adc9;
}

#container_1 {
    background-image: url(img/banner-home.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 960px;
    width: 100%;
}

.container_1 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.container_1_int {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1200px;
}

.area_container_1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 630px;
}

.area_container_1 a {
    max-width: 130px;
}

.title_container_1 h2 {
    font-size: 40px;
    line-height: 48px;
    font-weight: var(--font-weight-700);
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0px;
    filter: drop-shadow(0 3px 3px rgba(0, 0, 0, .4));
}

.btn_container_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #405261;
    padding: 15px 20px;
    max-width: max-content;
    width: 100%;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    transition: all ease 300ms;
}

.btn_container_1 h2 {
    font-size: 15px;
    font-weight: var(--font-weight-700);
    letter-spacing: 0.25px;
    margin: 0px;
    color: #FFFFFF;
}

.btn_container_1:hover {
    background-color: #FFFFFF;
}

.btn_container_1:hover>h2 {
    color: #405261;
}

#container_2 {
    background-image: url(img/bg-pontos.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 40px 0px 40px 0px;
}

.container_2 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container_2_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.area_container_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.area_container_2 img {
    max-width: 600px;
    width: 100%;
}

.area_texts_container_2 {
    display: flex;
    gap: 20px;
    flex-direction: column;
    max-width: 585px;
}

.title_container_2 h2 {
    font-size: 30px;
    font-weight: var(--font-weight-700);
    color: #00accd;
    margin: 0px;
    text-transform: uppercase;
}

.sub_title_container_2 p {
    font-weight: var(--font-weight-700);
    color: #2e496f;
    font-size: 32px;
    line-height: 38px;
    margin: 0px;
}

.info_container_2 p {
    font-size: 16px;
    line-height: 22px;
    font-weight: var(--font-weight-400);
    color: #333333;
    margin: 0px;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 10px;
}

.info_2_container_2 p {
    font-size: 24px;
    font-weight: var(--font-weight-700);
    color: #00accd;
    margin: 0px;
}

.area_texts_container_2 a {
    max-width: 260px;
}

.btn_container_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px 20px 15px 20px;
    max-width: max-content;
    background-color: #2e496f;
    transition: all ease 0.3s;
}

.btn_container_2 h2 {
    font-size: 15px;
    font-weight: var(--font-weight-700);
    margin: 0px;
    color: #ffffff;
}

.btn_container_2:hover {
    background-color: #071e57;
}


.container_3 {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 40px 0px 40px 0px;
    background-color: #f5f5f5;
}

.container_3_int {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    width: 100%;
    max-width: 1200px;
}

.area_container_3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.area_container_3 img {
    width: 100%;
    max-width: 550px;
}

.title_container_3 h2 {
    font-size: 30px;
    font-weight: var(--font-weight-700);
    color: #00accd;
    margin: 0px 0px 0px 0px;
    text-transform: uppercase;
}

.area_texts_container_3 {
    display: flex;
    gap: 20px;
    flex-direction: column;
    max-width: 585px;
}

.title_container_3_text h2 {
    font-size: 30px;
    font-weight: var(--font-weight-700);
    color: #2e496f;
    margin: 0px;
    text-transform: uppercase;
}

.sub_title_container_3 p {
    font-weight: var(--font-weight-700);
    color: #2e496f;
    font-size: 24px;
    line-height: 28px;
    margin: 0px;
}

.info_container_3 p {
    font-size: 16px;
    line-height: 24px;
    font-weight: var(--font-weight-400);
    color: #333333;
    margin: 0px;
}

.area_texts_container_3 a {
    max-width: max-content;
}

.btn_container_3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px 20px 15px 20px;
    max-width: max-content;
    background-color: #2e496f;
    transition: all ease 0.3s;
}

.btn_container_3 h2 {
    font-size: 15px;
    font-weight: var(--font-weight-700);
    margin: 0px;
    color: #ffffff;
}

.btn_container_3:hover {
    background-color: #071e57;
}


.title_container_3_text_1 h2 {
    font-size: 30px;
    font-weight: var(--font-weight-700);
    color: #2e496f;
    margin: 0px;
}

#container_4 {
    background-image: url(img/bg-circles.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 60px 0px 60px 0px;
}

.container_4 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container_4_int {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 1200px;
}

.area_container_4_total {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0px 20px;
}

.area_container_4 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title_container_4 h2 {
    font-size: 30px;
    font-weight: var(--font-weight-700);
    color: #00accd;
    margin: 0px 0px 0px 0px;
    text-transform: uppercase;
}

.box_1 {
    background-image: url(img/box-bg-gestao.webp);
    width: 100%;
    height: 386px;
    padding: 40px;
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
    max-width: max-content;
    border-radius: 5px;
    box-shadow: 0px 20px 70px 0px rgba(0, 0, 0, 0.2);
}

.box_1_int {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 470px;
}

.box_1_int img {
    max-width: max-content;
    width: 100%;
}

.title_box_1 h2 {
    font-size: 36px;
    line-height: 38px;
    font-weight: var(--font-weight-700);
    color: #FFFFFF;
    margin: 0px;
}

.sub_title_box_1 p {
    font-size: 16px;
    line-height: 24px;
    font-weight: var(--font-weight-400);
    color: #FFFFFF;
    margin: 0px;
}

.box_2 {
    background-image: url(img/box-bg-cobranca-1.webp);
    width: 100%;
    height: 580px;
    padding: 40px;
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
    max-width: max-content;
    border-radius: 5px;
    box-shadow: 0px 20px 70px 0px rgba(0, 0, 0, 0.2);
}

.box_3 {
    background-image: url(img/box-bg-funcionalidades.webp);
    width: 100%;
    height: 420px;
    padding: 40px;
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
    max-width: max-content;
    border-radius: 5px;
    box-shadow: 0px 20px 70px 0px rgba(0, 0, 0, 0.2);
}


.box_4 {
    background-image: url(img/box-bg-dp-2.webp);
    width: 100%;
    height: 580px;
    padding: 40px;
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
    max-width: max-content;
    border-radius: 5px;
    box-shadow: 0px 20px 70px 0px rgba(0, 0, 0, 0.2);
}

.box_5 {
    background-image: url(img/box-bg-assessoria-1.webp);
    width: 100%;
    height: 580px;
    padding: 40px;
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
    max-width: max-content;
    border-radius: 5px;
    box-shadow: 0px 20px 70px 0px rgba(0, 0, 0, 0.2);
}

.info_container_4 h2 {
    font-size: 20px;
    line-height: 22px;
    font-weight: var(--font-weight-700);
    color: #FFFFFF;
    margin: 0px;
}

.btn_container_4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px 20px 15px 20px;
    max-width: max-content;
    background-color: #2e496f;
    transition: all ease 0.3s;
}

.btn_container_4 h2 {
    font-size: 15px;
    font-weight: var(--font-weight-700);
    margin: 0px;
    color: #ffffff;
}

.btn_container_4:hover {
    background-color: #071e57;
}



#container_5 {
    background-image: url(img/bg-precos.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 80px 0px 80px 0px;
}

.container_5 {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.container_5_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.area_container_5 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.title_container_5 h2 {
    color: #00accd;
    text-align: center;
    font-weight: var(--font-weight-700);
    font-size: 50px;
    margin: 0px;
}

.area_cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.card_container_5 {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 20px 70px 0px rgba(0, 0, 0, 0.05);
    padding: 30px 20px;
    width: 100%;
    max-width: 280px;
    height: 580px;
    transition: all ease 300ms;
}

.card_container_5:hover {
    background-color: #2e496f;
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.4);
}

.card_container_5:hover>.card_container_5_int h2 {
    color: #ffffff;
}

.card_container_5:hover>.card_container_5_int p {
    color: #ffffff;
}

.card_container_5:hover>.card_container_5_int .btn_card {
    background-color: #ffffff;
}

.card_container_5:hover>.card_container_5_int .btn_card h2 {
    color: #2e496f;
}

.card_container_5_int {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 100%;
    flex-direction: column;
    gap: 5px;
}

.assessoria {
    max-width: 70px;
}

.contabilidade {
    max-width: 60px;
}

.title_card h2 {
    font-size: 20px;
    color: #2e496f;
    font-weight: var(--font-weight-700);
    margin: 0px;
}

.sub_title_card p {
    font-size: 16px;
    color: #748494;
    font-weight: var(--font-weight-400);
    margin: 0px;
}

.area_price {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.info_1 p {
    font-size: 16px;
    color: #00accd;
    font-weight: var(--font-weight-400);
    margin: 0px;
    text-transform: uppercase;
}

.price h2 {
    color: #00accd;
    font-size: 40px;
    font-weight: var(--font-weight-700);
    margin: 0px;
    text-transform: uppercase;
}

.info_2 p {
    font-size: 16px;
    color: #00accd;
    font-weight: var(--font-weight-400);
    margin: 0px;
    text-transform: uppercase;
}

.btn_card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px 40px 15px 40px;
    max-width: max-content;
    background-color: #2e496f;
    transition: all ease 0.3s;
}

.btn_card h2 {
    font-size: 15px;
    font-weight: var(--font-weight-700);
    margin: 0px;
    color: #ffffff;
}

.btn_card:hover {
    background-color: #071e57;
}


footer {
    background-color: #2e496f;
}

.container_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.container_footer_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.area_footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 40px 0px;
}

.text_footer h2 {
    font-size: 18px;
    font-weight: var(--font-weight-700);
    margin: 0px;
    color: #ffffff;
}

.copy {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d2b37;
    padding: 20px 0px;
    width: 100%;
}

.copy p {
    font-size: 14px;
    font-weight: var(--font-weight-700);
    margin: 0px;
    color: #ffffff;
}



@media(max-width: 1024px) {

    nav ul {
        display: none;
    }

    .menu_mobile_open {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 8px;

    }

    .area_menu {
        padding: 0px 20px;
    }

    .menu_mobile nav ul li a:hover {
        color: #fff;
    }

    @keyframes move {
        0% {
            right: -100%;

        }

        100% {
            right: 0px;
        }

    }

    .menu_mobile_close {
        display: none;
        align-items: center;
        flex-direction: column;
        gap: 8px;
        position: absolute;
        right: 20px;
        top: 30px;
    }

    .line_1 {
        transform: rotate(130deg);
        position: absolute;
    }

    .line_2 {
        position: absolute;
        transform: rotate(50deg);
    }

    .menu_mobile_close div {
        width: 30px;
        height: 4px;
        border-radius: 100px;
        background: #fff;
        box-shadow: 4px 2px 4px rgb(255 255 255 / 40%);
    }


    .menu_mobile_open div {
        width: 30px;
        height: 4px;
        border-radius: 100px;
        background: #fff;
        box-shadow: 4px 2px 4px rgb(255 255 255 / 40%);
    }

    nav ul li {
        font-size: 18px;
    }

    .area_menu_drop_int {
        padding: 0px;
    }

    /*.menu_mobile_total {
        display: none;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, .4);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
    }*/

    .menu_mobile {
        transition: all ease-in 400ms;
        display: none;
        justify-content: center;
        text-align: center;
        width: 100%;
        max-width: 240px;
        height: 100%;
        position: fixed;
        top: 0px;
        right: 0px;
        background-color: #1a3c6c;
        z-index: 10;
        padding: 40px 0px 20px 0px;
    }

    .menu_mobile nav ul {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
        gap: 15px;
        margin-top: 20px;
    }

    .area_menu_drop:hover>.menu_drop_down {
        opacity: 1;
        max-height: max-content;
        transform: translateX(0%) rotateX(0deg);
        transition-timing-function: ease-out;
    }

    .menu_drop_down {
        display: flex;
        position: absolute;
        opacity: 0;
        max-height: 0%;
        transform: translateX(0%) rotateX(-90deg);
        transform-origin: top center;
        top: calc(100% + 10px);
        background-color: #405261;
        padding: 15px 10px;
        width: 100%;
        border-radius: 5px;
        transition: all ease-in 0.3s;
    }

    .menu_drop_down a ul {
        margin: 0px;
    }

    .menu_mobile nav ul li a {
        font-size: 18px;
    }

    #container_1 {
        height: 600px;
    }

    .container_1_int {
        padding: 0px 20px;
    }

    .area_container_2 {
        flex-direction: column-reverse;
    }

    .area_container_2 img {
        max-width: 400px;
    }

    .area_container_3 {
        flex-direction: column;
    }

    .area_2 {
        flex-direction: column-reverse;
    }

    .area_container_3 img {
        width: 100%;
        max-width: 400px;
    }

    .area_container_4_total {
        justify-content: center;
    }

    .container_4_int {
        gap: 20px;
    }

    .title_container_5 h2 {
        font-size: 28px;
    }

    .area_container_5 {
        gap: 20px;
        padding: 0px 20px;
    }

    .area_footer {
        padding: 40px 20px;
    }

    .copy p {
        padding: 0px 20px;
    }

}

@media(max-width: 768px) {
    header {
        height: 80px;
    }

    .area_logo img {
        max-width: 180px;
    }

    .title_container_1 h2 {
        font-size: 32px;
        line-height: 36px;
    }

    .btn_container_1 h2 {
        font-size: 14px;
    }

    .area_texts_container_2 {
        gap: 15px;
    }

    .title_container_2 h2 {
        font-size: 22px;
    }

    .sub_title_container_2 p {
        font-size: 18px;
        line-height: 22px;
    }

    .info_2_container_2 p {
        font-size: 16px;
        line-height: normal;
    }

    .btn_container_2 h2 {
        font-size: 14px;
    }

    .container_3_int {
        gap: 40px;
    }

    .area_texts_container_3 {
        gap: 15px;
    }

    .title_container_3 h2 {
        font-size: 26px;
    }

    .title_container_3_text h2 {
        font-size: 22px;
    }

    .sub_title_container_3 p {
        font-size: 18px;
        line-height: normal;
    }

    .info_container_3 p {
        line-height: 22px;
    }

    .title_container_3_text_1 h2 {
        font-size: 22px;
    }

    .title_container_4 h2 {
        font-size: 26px;
    }

    .box_1_int {
        gap: 15px;
    }

    .title_box_1 h2 {
        font-size: 26px;
        line-height: normal;
    }

    .sub_title_box_1 p {
        line-height: 22px;
    }

    .title_container_5 h2 {
        font-size: 26px;
    }

    .card_container_5 {
        height: 470px;
    }

    .title_card h2 {
        font-size: 18px;
    }

    .sub_title_card p {
        font-size: 14px;
    }

    .info_1 p {
        font-size: 14px;
    }

    .price h2 {
        font-size: 30px;
    }

    .btn_card h2 {
        font-size: 14px;
    }

}

@media(max-width: 480px) {
    #container_1 {
        height: 420px;
    }

    .title_container_1 h2 {
        font-size: 26px;
        line-height: 28px;
    }

    .area_container_2 {
        padding: 0px 20px;
    }

    .container_3_int {
        padding: 0px 20px;
    }

    .title_container_3 h2 {
        margin-bottom: -20px;
    }

    #container_4 {
        padding: 40px 0px 40px 0px;
    }

    .title_container_5 h2 {
        font-size: 20px;
    }

    #container_5 {
        padding: 60px 0px 60px 0px;
    }

    .card_container_5 {
        max-width: 360px;
    }

    .title_card h2 {
        font-size: 20px;
    }

    .sub_title_card p {
        font-size: 16px;
    }

    .title_box_1 h2 {
        font-size: 24px;
        line-height: normal;
    }

    .info_container_4 h2 {
        font-size: 16px;
    }

    .sub_title_box_1 p {
        font-size: 15px;
        line-height: 20px;
    }

    .text_footer h2 {
        font-size: 15px;
    }
}

@media(max-width: 400px) {
    .title_container_5 h2 {
        font-size: 18px;
    }
}